@model List<Request>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Change Request
            </h2>
        </div>
        <div class="col-6 text-end">
            @if (!User.IsInRole("Admin"))
            {
                <a asp-asp-controller="Suppliers" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Change
                </a>
            }
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Title of Change
                </th>
                @*<th>
                    Description
                </th>*@
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Submitted By
                </th>
                @*<th>
                    Date
                </th>*@
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/request.js"></script>
}